@model IEnumerable<Biblioteca_MVC.Models.MembersModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IDMembru)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumeMembru)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IDMembru)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeMembru)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.IDMembru }) |
                @Html.ActionLink("Details", "Details", new {  id=item.IDMembru }) |
                @Html.ActionLink("Delete", "Delete", new {  id=item.IDMembru }) |
                @Html.ActionLink("DetailsWithBookLoans", "DetailsWithBookLoans", new {  id=item.IDMembru })
            </td>
        </tr>
}
    </tbody>
</table>
