@model IEnumerable<Biblioteca_MVC.Models.BooksModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IDCarte)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumeCarte)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Autor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Editura)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AnAparitie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Imprumutata)
            </th>
          @*  <th>
                @Html.DisplayNameFor(model => model.DataImprumut)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataRetur)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IDMembru)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IDCarte)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeCarte)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Autor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Editura)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnAparitie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Imprumutata)
            </td>
           @* <td>
                @Html.DisplayFor(modelItem => item.DataImprumut)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataRetur)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IDMembru)
            </td>*@
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.IDCarte  }) |
                @Html.ActionLink("Details", "Details", new {  id=item.IDCarte }) |
                @Html.ActionLink("Delete", "Delete", new {  id=item.IDCarte }) |
                @Html.ActionLink("DetailsWithBooksBookLoans", "DetailsWithBooksBookLoans", new {  id=item.IDCarte })
            </td>
        </tr>
}
    </tbody>
</table>
