@model Biblioteca_MVC.Models.BookLoansModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>BookLoansModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataImprumut)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataImprumut)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataRetur)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataRetur)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IDMembru)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IDMembru)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IDImprumut)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IDImprumut)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IDCarte)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IDCarte)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
